<div class="hight">
  <app-controls [answers]="answers" [enable]="enable" (action)="onAction()" [game_btn]="game_btn" (newBar)="onNewBar()" (change)="onChange()" (nextWeek)="onNextWeek()" [life_procent]="life_procent" [edu_procent]="edu_procent" [social_procent]="social_procent" (changeAudioStatus)="onChangeAudioStatus()"></app-controls>
  <img src="{{character}}" alt="" class="person">
  <p class="cloud">{{messange}}</p>
</div>
