.setting-btn{
  position: absolute;
  left: 20px;
  top: 20px;
  cursor: pointer;
}
.startAnimation{
  animation: pulse 2s ease-in-out infinite;
}
.stopAnimation{
  animation-play-state: paused;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.9);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
.pop-up{
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 99999;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.94);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container h1{
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.exit{
  width: 270px;
  margin-top: 10px;
  padding: 10px;
  background: #1D3EED;
  color: #fff;
  border-radius: 9px;
  font-family: Roboto-Regular;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sound-control{
  position: absolute;
  top: 20px;
  right: 20px;
  height: 62px;
  cursor: pointer;
  z-index: 10000;
}
.rule-container{
  max-width: 500px;
  background: #1D3EED;
  border: 2px solid #D78282;
  border-radius: 9px;
  color: white;
  padding: 10px;
}
