<img src="assets/imgs/controls/setting.png" alt="" class="setting-btn" [ngClass]="{startAnimation: setting_btn}" (click)="openPopUp()">
<div class="pop-up" *ngIf="popUp" (click)="openPopUp()">
  <div class="container" *ngIf="!rule">
    <img class="sound-control" src="{{this.audio_img}}" (click)="audio()">
      <h1>Настройки</h1>
    <button class="exit" (click)="openRule()">Правила</button>
      <button class="exit" (click)="exit()">Выйти</button>
  </div>

  <div class="container" *ngIf="rule">
    <h1>Правила</h1>
    <div class="rule-container">
       {{ruleText}}
    </div>
  </div>
</div>


<app-personbar [life_procent]="life_procent" [edu_procent]="edu_procent" [social_procent]="social_procent" [(animate)]="sentBtn" [(stopeAnimation)]="stopAnimation"></app-personbar>
<app-game-btns [(animatingBtn)]="sentBtn" [(stopAnimation)]="stopAnimation" *ngIf="logical1" (change)="onChange($event)" (newBar)="onNewBar()" (nextWeek)="onNextWeek()" ></app-game-btns>
<app-questions-btns *ngIf="logical2" [(animate)]="sentBtn" [enable]="enable" [(stopeAnimation)]="stopAnimation" [(answers)]="answers" (action)="onAction()"></app-questions-btns>
