img{
  position: absolute;
}
.a-btn,.b-btn,.c-btn,.r_arrow-btn{
  cursor: pointer;
  border-radius: 50%;
}
.a-btn:hover,.b-btn:hover,.c-btn:hover,.r_arrow-btn:hover{
  border: 4px solid darkorange;
  border-radius: 50%;
}
.a-btn{
  bottom: 1px;
  right: 188px;
}
.b-btn{
  bottom: 152px;
  right: 170px;
}
.c-btn{
  bottom: 180px;
  right: 1px;
}
.r_arrow-btn{
  bottom: 10px;
  right: 20px;
}
.startAnimation{
  animation: pulse 2s ease-in-out infinite;
  animation-fill-mode: backwards;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.9);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
