<img src="assets/imgs/controls/a.png" alt="" class="a-btn" [ngClass]="{startAnimation: a_btn}" (click)="a_btn_click()" >
<img src="assets/imgs/controls/b.png" alt="" class="b-btn" [ngClass]="{startAnimation: b_btn}" (click)="b_btn_click()">
<img src="assets/imgs/controls/c.png" alt="" class="c-btn" [ngClass]="{startAnimation: c_btn}" (click)="c_btn_click()">
<img src="assets/imgs/controls/r_arrow.png" alt="" class="r_arrow-btn" [ngClass]="{startAnimation: r_arrow_btn}" (click)="nextPage()">
