<app-start *ngIf="currentPage == 'start'" (change)="onChange($event)" (changeAudioStatus)="onChangeAudioStatus($event)"></app-start>
<app-tutorial *ngIf="currentPage == 'tutorial'" (change)="onChange($event)" (changeAudioStatus)="onChangeAudioStatus($event)"></app-tutorial>
<app-test *ngIf="currentPage == 'test'" (change)="onChange($event)" (changeAudioStatus)="onChangeAudioStatus($event)"></app-test>
<app-main *ngIf="currentPage == 'main'" (change)="onChange($event)" (changeAudioStatus)="onChangeAudioStatus($event)"></app-main>
<app-session *ngIf="currentPage == 'session'" (change)="onChange($event)" (changeAudioStatus)="onChangeAudioStatus($event)"></app-session>
<app-win *ngIf="currentPage == 'win'" (change)="onChange($event)" (changeAudioStatus)="onChangeAudioStatus($event)"></app-win>
<app-gameover *ngIf="currentPage == 'gameover'" (change)="onChange($event)" (changeAudioStatus)="onChangeAudioStatus($event)"></app-gameover>
