@import url('https://fonts.googleapis.com/css?family=Staatliches');
.container{
  width: 100%;
  height: 100vh;
  background: #000;
  background: url("../../assets/imgs/gameover.jpg") no-repeat center center;
}
.bg{
  position: absolute;
  width: 100%;
  overflow: hidden;
}
.text{
  width: 100%;
  height: 100vh;
  color: red;
  background: rgba(0, 0, 0, 0.8);
  font-size: 4.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-shadow: black 0 0 3px;
}
