<div class="display">
  <app-controls [answers]="false" [animate]="undefined" [game_btn]="game_btn" [life_procent]="100" [edu_procent]="100" [social_procent]="100" (change)="onChange()" (changeAudioStatus)="onChangeAudioStatus($event)"></app-controls>
  <div class="container">
    <div class="text">
      <div class="headerTest">
        Вопрос {{currentEx+1}} из {{lastEx}}
      </div>
      <div class="queryTest">
      {{this.data[currentEx].text}}
      </div>
    </div>
    <div class="answers">
      <div class="answer" *ngFor="let answer of answers" (click)="click(this.answer)">{{answer.answerText}}</div>
    </div>
  </div>
</div>
