@font-face {
  font-family: Roboto-Regular;
  src: url("../../fonts/Roboto/Roboto-Regular.ttf");
}
.display{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto-Regular;
  background: url("../../assets/imgs/bg_electro.png") no-repeat;
  background-size: auto 100%;
}
.text{
  width: 600px;
  background-color: #fff;
  border-radius: 15px;
}
.headerTest{
  border-radius: 15px 15px 0 0;
  padding: 10px;
  background-color: #3151FD;
  color: #fff;
  text-align: center;
}
.queryTest{
  padding: 10px;
}

.answers{
  width: 600px;
  margin-top: 10px;
  /*display: flex;*/
  /*justify-content: space-between;*/
  /*align-items: center;*/
  /*flex-wrap: wrap;*/
  display: grid;
  grid-template-columns: repeat(auto-fit,295px);
  grid-gap: 10px 10px;
}
.answer{
  padding: 10px;
  text-align: center;
  flex: 1 0 auto;
  background-color: #fff;
  border-radius: 15px;
  cursor: pointer;
  /*width: 200px;*/
  /*margin-bottom: 7px;*/
  /*margin-left: 5px;*/
  /*margin-right: 5px;*/
}
/*.answer:not(:first-child){*/
  /*margin-left: 10px;*/
/*}*/
.answer:hover{
  box-shadow: 0 0 0 3px rgba(255, 154, 23, 0.9);
}
