@font-face {
  font-family: Roboto-Regular;
  src: url("../../fonts/Roboto/Roboto-Regular.ttf");
}
.display{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../../assets/imgs/bg_electro.png") no-repeat;
  background-size: auto 100%;
}
nav{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nameGame{
  color: #fff;
  font-size: 48px;
  font-family: Roboto-Regular;
  cursor: default;
}
.btn-start{
  width: 270px;
  height: 55px;
  margin-top: 10px;
  background: #1D3EED;
  color: #fff;
  border-radius: 9px;
  font-family: Roboto-Regular;
  font-size: 36px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-start:hover{
  box-shadow: 0px 0px 12px #E8840E;
}
.sound-control{
  position: absolute;
  top: 20px;
  right: 20px;
  height: 62px;
  cursor: pointer;
}

.pop-up{
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 99999;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.94);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container h1{
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.exit{
  width: 270px;
  margin-top: 10px;
  padding: 10px;
  background: #1D3EED;
  color: #fff;
  border-radius: 9px;
  font-family: Roboto-Regular;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sound-control{
  position: absolute;
  top: 20px;
  right: 20px;
  height: 62px;
  cursor: pointer;
  z-index: 10000;
}
.rule-container{
  max-width: 500px;
  background: #1D3EED;
  border: 2px solid #D78282;
  border-radius: 9px;
  color: white;
  padding: 10px;
}

