<div class="display">

  <div class="pop-up" *ngIf="popUp" (click)="openPopUp()">
    <div class="container" *ngIf="rule">
      <h1>Правила</h1>
      <div class="rule-container">
        {{ruleText}}
      </div>
    </div>
  </div>
    <nav>
      <div class="nameGame">Игра Деканат</div>
      <div class="btn-start" (click)="begin()">Начать</div>
      <div class="btn-start" (click)="openRule()">Правила</div>
    </nav>

</div>
<img class="sound-control" src="{{this.audio_img}}" (click)="audio()">
