<div class="display">
  <app-controls [(animate)]="animate" [(stopAnimation)]="stopAnimation" (change)="onChange()" (changeAudioStatus)="onChangeAudioStatus()"></app-controls>
  <img src="assets/imgs/curator.png" alt="" class="person">
  <p class="cloud">{{messange}}</p>
</div>
