@font-face {
  font-family: Roboto-Regular;
  src: url("../../fonts/Roboto/Roboto-Regular.ttf");
}
.display{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto-Regular;
  background: url("../../assets/imgs/bg_electro.png") no-repeat;
  background-size: auto 100%;
}
.person{
  position: absolute;
  bottom: 0;
  left: 0;
}
.cloud{
  position: absolute;
  bottom: 453px;
  left: 434px;
  min-height: 20px;
  min-width: 20px;
  max-width: 200px;
  background: #3151FD;
  padding: 10px 15px;
  color: #ffffff;
  border-radius: 15px;
}
.cloud:before {
  content: ' ';
  position: absolute;
  width: 0px;
  height: 0px;
  left: 4px;
  bottom: -11px;
  border: 10px solid;
  border-color: #3150fb transparent transparent #3150fb;
}
