.personbar{
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  flex-direction: column;
}
.container{
  display: flex;
  border-radius: 35px;
}
.container:not(:first-child){
  margin-top: 10px;
}
.logo{
  width: 60px;
  height: 60px;
  background: rebeccapurple;
  border-radius: 50%;
}
.name{
  position: absolute;
  color: orange;
}
.insidecontainer{
  margin-left: 10px;
  width: 200px;
  background-color: #fff;
  border: 3px solid #3151FD;
  border-radius: 35px;
  box-sizing: border-box;
}

.progress{
  height: 100%;
  background-color: #3151FD;
  border-radius: inherit;
}
.startAnimation{
  animation: pulse 2s ease-in-out infinite;
  animation-fill-mode: backwards;
}
.stopAnimation{
  animation-play-state: paused;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.9);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
