<div class="personbar">

  <div class="container" [ngClass]="{startAnimation: edu_animation}">
    <img src="assets/imgs/controls/edu.png" alt="" class="logo">
    <div class="insidecontainer">
      <div class="name"></div>
      <div class="progress" [ngStyle]="{'width': edu_procent+'%'}"></div>
    </div>
  </div>

  <div class="container" [ngClass]="{startAnimation: life_animation}">
    <img src="assets/imgs/controls/live.png" alt="" class="logo">
    <div class="insidecontainer">
      <div class="name"></div>
      <div class="progress" [ngStyle]="{'width': life_procent+'%'}"></div>
    </div>
  </div>

  <div class="container" [ngClass]="{startAnimation: social_animation}">
    <img src="assets/imgs/controls/social.png" alt="" class="logo">
    <div class="insidecontainer">
      <div class="name"></div>
      <div class="progress" [ngStyle]="{'width': social_procent+'%'}"></div>
    </div>
  </div>

</div>
