@import url('https://fonts.googleapis.com/css?family=Comfortaa&subset=cyrillic,cyrillic-ext');
.container{
  width: 100%;
  height: 100vh;
  background-color: #DFC470;
  font-family: 'Comfortaa', cursive;
}
.bg{
  position: absolute;
  width: 100%;
  bottom: 0;
}

.firstText{
  position: absolute;
  color: white;
  font-size: 3em;
  top: 50px;
  left: 50px;
}
.secondText{
  position: absolute;
  color: white;
  font-size: 3em;
  bottom: 50px;
  right: 50px;
}
