<div class="container" [ngClass]="{startAnimation: doAnimate}">
  <div *ngIf="answers == undefined" class="btn-container">
    <div class="btn">Кнопка 1</div>
    <div class="btn">Кнопка 2</div>
    <div class="btn">Кнопка 3</div>
    <div class="btn">Кнопка 4</div>
  </div>

  <div *ngIf="answers !== undefined" class="btn-container" [ngClass]="{disabled: !enable}">
    <div class="btn" *ngFor="let item of answers" (click)="click(item.value, item.conclusionText, enable)">{{item.text}}</div>
  </div>

</div>
