.container{
  position: absolute;
  right: 20px;
  bottom: 10px;
  display: flex;
  flex-direction: column;
}

.startAnimation{
  animation: pulse 2s ease-in-out infinite;
  animation-fill-mode: backwards;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.9);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}

.btn-container{

}
.btn{
  min-width: 200px;
  padding: 10px;
  background-color: #fff;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  font-size: 1.4em;
}

.btn:not(:first-child){
  margin-top: 7px;
}
.btn:hover{
  box-shadow: 0 0 0 3px rgba(255, 154, 23, 0.9);
}
.disabled{
  cursor: default;
  opacity: 0.6;
}
.disabled .btn:hover{
  cursor: default;
  box-shadow: none !important;
}
